<div class="row">
  <div class="col-2 d-none d-lg-block">
    <nav class="h-100 flex-column align-items-stretch pe-4 border-end pt-4" id="sidebar">
      <nav class="nav nav-pills flex-column">
        <slot name="sidebar" />
      </nav>
    </nav>
  </div>

  <div
    data-bs-spy="scroll"
    data-bs-target="#sidebar"
    data-bs-smooth-scroll="true"
    tabindex="0"
    class="col-sm-12 col-lg-10 overflow-y-auto"
    id="content"
  >
    <slot />
  </div>
</div>

<style>
  #content {
    max-height: 95vh;
    padding-bottom: 1rem;
  }
</style>
