.navMobile {
    display: none;
}

.navDesktop {
    display: block;
}

@media screen and (max-width: 768px) {
    .navMobile {
        display: block;
    }

    .navDesktop {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .navMobile {
        display: none;
    }

    .navDesktop {
        display: block;
    }
}
    