@import "@ag/ui/src/styles.scss";

html, body, .__next {
  height: 100%;
}

#spinner {
  width: 4rem;
  height: 4rem;
}

#theme-toggle {
  cursor: pointer;
}

#player-container {
  grid-area: 1/1;
}

#player-overlay {
  grid-area: 1/1;
  z-index: 50;
}

