---
import Layout from "../layouts/Layout.astro";
---

<Layout title="AG Docs">
  <h1 class="text-center mt-2">Adaptive Games Docs</h1>

  <div class="container pb-5 overflow-y-auto" id="content">
    <div class="mt-5 row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="/adaptive-input/switch-md.png" class="card-img-top" alt="switch input" />
          <div class="card-body">
            <h5 class="card-title">Adaptive Input</h5>
            <p class="card-text">Documentation for the Adaptive Input component.</p>
            <a href="/adaptive-input" class="btn btn-primary">Read</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="/yt/video-page.png" class="card-img-top" alt="switch input" />
          <div class="card-body">
            <h5 class="card-title">Adaptive Games YT</h5>
            <p class="card-text">Usage documenation for the Adaptive games YT app.</p>
            <a href="/yt" class="btn btn-primary">Read</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="/music/video-page.png" class="card-img-top" alt="switch input" />
          <div class="card-body">
            <h5 class="card-title">Music</h5>
            <p class="card-text">Usage documenation for the Music app.</p>
            <a href="/music" class="btn btn-primary">Read</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  #content {
    height: 90vh;
  }
</style>
