---
import DocLayout from "../layouts/DocLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="YT Docs">
  <DocLayout>
    <nav class="nav nav-pills flex-column" slot="sidebar">
      <a class="nav-link" href="#config">Config</a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ms-3 my-1" href="#user-configs">User configs</a>
        <a class="nav-link ms-3 my-1" href="#input-config">Input config</a>
        <a class="nav-link ms-3 my-1" href="#timers">Timers</a>
        <a class="nav-link ms-3 my-1" href="#playlist-config">Playlist config</a>
        <a class="nav-link ms-3 my-1" href="#playlist-videos">Playlist videos</a>
      </nav>

      <a class="nav-link" href="#usage">Usage</a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ms-3 my-1" href="#playlists">Playlists</a>
        <a class="nav-link ms-3 my-1" href="#video">Videos</a>
      </nav>

      <a class="nav-link" href="#advanced-usage">Advanced usage</a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ms-3 my-1" href="#two-switch">2 Switch usage</a>
      </nav>
    </nav>

    <h1 class="text-center">YT</h1>

    <section id="config" class="my-4">
      <h2 class="text-center">Configuration</h2>

      <section id="user-configs" class="my-4">
        <h3>User Configs</h3>
        <img src="/yt/user-configs.png" alt="user configs page" class="img-fluid my-2" />

        <div>
          <p>Manage your configurations. Create, delete or update from this section.</p>

          <p class="fw-semibold">Startup configuration</p>
          <p>
            When you visit the site and login/are already authenticated the configuration will load.
            <br />
            see: <a href="#advanced-usage">advanced usage</a> for more info.
          </p>
        </div>
      </section>

      <section id="input-config" class="my-4">
        <h3>Input config</h3>
        <img src="/yt/input-config.png" alt="input config tab" class="img-fluid my-2" />

        <p>
          This is the configuration loaded for the &quot;Adaptive Input&quot; which is the name for
          the screen with prompts for switch/eye gaze/touch input.
        </p>

        <div class="mt-2">
          <p>
            See the <a href="/adaptive-input">Adaptive Input</a> section for more details
          </p>
        </div>
      </section>

      <section id="timers" class="my-4">
        <h3>Timers</h3>
        <img src="/yt/timers.png" alt="timers tab" class="img-fluid my-2 border" />

        <div>
          <p>Define how long to play a video before automatic pause.</p>
          <p>
            When using time &quot;Infinite&quot; input starts and stops the video. Otherwise if the
            video is playing the input does nothing.
          </p>
        </div>
      </section>

      <section id="playlist-config" class="my-4">
        <h3>Playlist config</h3>
        <img src="/yt/playlist-config.png" alt="playlists tab" class="img-fluid my-2 border" />

        <div>
          <p>
            Create and delete playlists. Manage a playlists videos. see{" "}
            <a href="#playlist-videos">Playlist videos</a>
          </p>
        </div>
      </section>

      <secion id="playlist-videos" class="my-4">
        <h3>Playlist videos</h3>
        <img src="/yt/video-timers.png" alt="video timers page" class="img-fluid my-2 border" />

        <div>
          <p>This feature allows you to set custom stop times for a video.</p>
          <p>
            This is useful for things like books. You can see an example of this in the example
            playlist.
          </p>
        </div>
      </secion>
    </section>

    <section id="usage" class="my-4">
      <h2 class="text-center">Usage</h2>

      <section id="playlists" class="my-4">
        <h3>Playlists</h3>
        <img src="/yt/playlist-page.png" alt="playlists page" class="img-fluid my-2 border" />

        <div>
          <p>
            If 2 switch mode is enabled (see <a href="#advanced-usage">Advanced usage</a>) pressing
            space will select the next video, if speech synthesis is enabled the videos title will
            be spoken. Pressing enter will select the video.
          </p>
        </div>
      </section>

      <section id="video" class="my-4">
        <h3>Videos</h3>
        <img src="/yt/video-page.png" alt="playlists page" class="img-fluid my-2 border" />
      </section>
    </section>

    <section id="advanced-usage" class="my-4">
      <h2 class="text-center">Advances usage</h2>

      <section id="two-switch" class="my-4">
        <h3>2 Switch usage</h3>

        <div>
          <p>
            First, create a <a href="#playlists">playlist</a> and add some{" "}
            <a href="#add-video">videos.</a>{" "}
          </p>

          <p>
            On a playlist page, with a switch input config enabled;
            <br />
            set 1 switch to spacebar and another to enter.
          </p>

          <p>
            Now you can press the spacebar switch to cycle through the videos in the playlist (If
            speach synthesis is enabled, it will read the title of the video).
          </p>
          <p>
            Pressing the enter switch will select the video and launch straight to the{" "}
            <a href="#input-prompt">input prompt</a>.
          </p>
          <p>
            Pressing the spacebar will go back to the playlist where you can again cycle through the
            videos.
          </p>
        </div>
      </section>
    </section>
  </DocLayout>
</Layout>
